@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
}


  header {
    height: 1000px;
  }

  section {
    position: fixed;
    text-align: center;
    margin: auto 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px white solid;
    font-size: 25px;
    padding: 10px;
    left: 40%;
    top: 250px;
    opacity: 1;
    animation: fade 2s linear;
  }

  @keyframes fade {
    0%{ opacity: 0 }
    100%  { opacity: 1 }
  }